// palette of colors
:root {
  --neutral200: #e3e8ef;
  --primary600: #155eef;
  --neutral50: #f8fafc;
  --neutral100: #eef2f6;
  --neutral700: #364152;
  --neutral600: #4b5565;
  --neutral900: #121926;

  --color-black: #000000;
  --color-white: #ffffff;
  --color-blue: #363f72;
  --color-bg1: #fcfcfd;
  --color-bg2: #fef0c7;
  --color-yellow: #dc8603;
  --color-blue-sky: #e0f2fe;
  --color-warning: red;
  --color-success: #4bb543;
}
